<div class="container">
  <div class="text-light border-box">
    <div class="row">
      <div class="col-sm-12 col-lg-4  mx-auto order1">
        <h5 class="text-center">Quick Links<span></span></h5>
        <ul class="container list-unstyled">
          <li class="my-3 text-center">
            <a class="quick-link" href="{{site.url + 'about/'}}" target="_self" rel="noopener noreferrer">About</a>
          </li>
          <!-- temperarily removed
          <li class="my-3 text-center">
            <a class="quick-link" href="{{site.url + 'outreach/'}}" target="_self" rel="noopener noreferrer">Outreach</a>
          </li>
          -->
          <li class="my-3 text-center">
            <a class="quick-link" href="{{site.url + 'contact/'}}" target="_self" rel="noopener noreferrer">Contact</a>
          </li>
          <li class="my-3 text-center">
            <a  href="https://www.facebook.com/NWA-Second-Stage-Transition-102534804556882/" target="_blank" rel="noopener noreferrer"title="Facebook">
              <svg class="social-link rounded-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill='%23fff' class="social-img" viewBox="0 0 16 16">
                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
              </svg>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-lg-4  mx-auto order2">
        <div class="myborder2">
          <div class="myborder">
            <h5 class="text-center">NWA Second Stage Transition<span></span></h5>
            <address class="text-center">
              P.O. Box 1128, <br>Siloam Springs, Arkansas 72761
            </address>
          </div>
        </div>
        <p class="text-center my-3">
          Call to make an appointment.
        </p>
        <ul class="list-unstyled">
          <li class="">
            <address class="text-center my-3">
              <a class="phone-link" href="tel:14795493737"  target="_self" rel="noopener noreferrer" title="phone">+1 479 549 3737</a>
            </address>
          </li>
          <li class="">
            <address class="text-center my-3">
              <a class="text-center email-link" href="mailto:info@nwasecondstagetransition.org" target="_self" rel="noopener noreferrer" title="email">info@nwasecondstagetransition.org</a>
            </address>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-lg-4  mx-auto order3">
        <ul class="list-unstyled">
          <li class="text-center">
            <a class="" target="_blank" rel="noopener" href="https://www.guidestar.org/profile/84-2586015">
              <img class="certificate-link" src="{{site.url + './images/candid-2022-silver-transparency-award.webp'}}" alt="NWASST's profile on Guidestar">
            </a>
          </li>
          <li class="text-center">
            <a class=""  target="_blank" rel="noopener" href='https://www.natpia.com/providers/910/cecelia-dorko/' target='_blank'>
              <img class="certificate-link rounded-circle" src='https://storage.googleapis.com/parenting-org-static/img/natpia-badge-160.png' alt="Cecelia's profile on National Parent Instructor Assocition"/>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <p class="text-light text-center pt-2">Copyright NWA Second Stage Transition © 2022. All rights reserved.</p>
  </div>
</div>