<div class="container">
  <div class="text-light border-box">
    <div class="row">
      <div class="col-sm-12 col-lg-4  mx-auto order1">
        <h5 class="text-center">Quick Links<span></span></h5>
        <ul class="container list-unstyled">
          <li class="my-3 text-center">
            <a class="quick-link" href="{{site.url + 'about/'}}" target="_self" rel="noopener noreferrer">About</a>
          </li>
          <!-- temperarily removed
          <li class="my-3 text-center">
            <a class="quick-link" href="{{site.url + '/outreach/'}}" target="_self" rel="noopener noreferrer">Outreach</a>
          </li>
          -->
          <li class="my-3 text-center">
            <a class="quick-link" href="{{site.url + '/contact/'}}" target="_self" rel="noopener noreferrer">Contact</a>
          </li>
          <li class="my-3 text-center">
            <a  href="https://www.facebook.com/NWA-Second-Stage-Transition-102534804556882/" target="_blank" rel="noopener noreferrer"title="Facebook">
              <img class="social-link rounded-circle" src="{{site.url + './images/facebook-logo.png'}}" alt="NWASST's profile on Facebook">
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-lg-4  mx-auto order2">
        <div class="myborder2">
          <div class="myborder">
            <h5 class="text-center">NWA Second Stage Transition<span></span></h5>
            <address class="text-center">
              P.O. Box 1128, <br>Siloam Springs, Arkansas 72761
            </address>
          </div>
        </div>
        <p class="text-center my-3">
          Call to make an appointment.
        </p>
        <ul class="list-unstyled">
          <li class="">
            <address class="text-center my-3">
              <a class="phone-link" href="tel:14795493737"  target="_self" rel="noopener noreferrer" title="phone">+1 479 549 3737</a>
            </address>
          </li>
          <li class="">
            <address class="text-center my-3">
              <a class="text-center email-link" href="mailto:info@nwasecondstagetransition.org" target="_self" rel="noopener noreferrer" title="email">info@nwasecondstagetransition.org</a>
            </address>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-lg-4  mx-auto order3">
        <ul class="list-unstyled">
          <li class="text-center">
            <a class="" target="_blank" rel="noopener" href="https://www.guidestar.org/profile/84-2586015">
              <img class="certificate-link" src="{{site.url + './images/candid-2022-silver-transparency-award.webp'}}" alt="NWASST's profile on Guidestar">
            </a>
          </li>
          <li class="text-center">
            <a class=""  target="_blank" rel="noopener" href='https://www.natpia.com/providers/910/cecelia-dorko/' target='_blank'>
              <img class="certificate-link rounded-circle" src='https://storage.googleapis.com/parenting-org-static/img/natpia-badge-160.png' alt="Cecelia's profile on National Parent Instructor Assocition"/>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <p class="text-light text-center pt-2">Copyright NWA Second Stage Transition © <span id="year"></span>. All rights reserved.</p>
  </div>
</div>