---
templateLayoutResolver: njk, md
---
<!DOCTYPE html>
<html lang="en">
  <head>{% include '../_includes/head.html' %}</head>
  <body class="landing">
    <header  class="navbar navbar-expand-md navbar-dark bd-navbar bg-primary">{% include '../_includes/header.html' %}</header>
    <main class="mt-5">{{ content | safe }}</main>
    <footer class="bg-primary">{% include '../_includes/footer.html' %}</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{site.url + 'javascript/footer-javascript.js'}}"></script>
  </body>
</html>
