---
layout: base_v2.njk
title: Content Manager
subtitle:  Portal for posting articles to the NWASST's Outreach page.
description: Admin portal for posting articles to the outreach page.
rel: canonical
robots: noindex
eleventyExcludeFromCollections: true
---
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<!-- {{ title }} Page -->
<!-- Include the script that builds the page and powers Netlify CMS -->
<script src="https://unpkg.com/netlify-cms@^2.0.0/dist/netlify-cms.js"></script>