---
title: 404 Error | NWASST's missing website page.
layout: base.njk
templateEngineOverride: njk,md
permalink: 404.html
---
<!-- Page Intro -->
<div class="row justify-content-center text-center">
  <div class="col-md-10 p-3 mb-5 bg-white-transparent rounded max-width">
    <h1 class="h1">Error 404</h1>
    <p class="p-3 lead">The page you requested was not found.</p>
    <p class="p-3 lead">
      <a class="btn btn-outline-secondary btn-sm" href="{{site.url}}" role="button" target="_self" rel="noopener noreferrer" >Continue to homepage</a>
    </p>
  </div>
</div>
<!-- End Page Intro -->