---
layout: base_v2.njk
title: Home
subtitle: NWA Second Stage Transition ~ a place for you when you need help the most.
description: Welcome to NWA Second Stage Transition where we provide a variety of services from counseling, classes, group meet-ups, and more to help families/individuals deal with alcohol/drug abuse, domestic violence, parenting issues, and more.
rel: canonical
robots: follow, index
---
<div class="row justify-content-center text-center">
  <div class="col-md-10 p-3 my-5  bg-white-transparent rounded max-width">
    <h1 class="h1">After the rain, the sun will shine.</h1>
    <p class="lead p-3 ">We empower individuals transition to a new stage in life. Learn more about our purpose and vision at NWA Second Stage Transition.</p>
    <p class="lead mt-3"><a class="btn text-black bg-warning" href="{{site.url + '/about/'}}" target="_self" rel="noopener noreferrer" >Learn More About Us</a></p>
  </div>
</div>