---
layout: base_v2.njk
title: Outreach
subtitle:  Community is where we see our greatest opportunities.
description: We are happy to be part of a thriving community!
rel: canonical 
robots: follow, index
eleventyExcludeFromCollections: true
---
<!-- Page Intro -->
<div class="row justify-content-center text-center">
  <div class="col-md-10 p-3 mb-5 bg-white-transparent rounded max-width">
    <h1 class="h1">Outreach</h1>
    <p class="pb-3 lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab fugit, excepturi obcaecati
      sed, quasi officiis quis quod magni ut placeat a voluptatum debitis porro dolores.</p>
  </div>
</div>
<!-- End Page Intro -->
<hr class="featurette-divider">
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container">
  <!-- Three columns of text below the carousel -->
  <div id="team" class="row w-75 mx-auto">
    <div class="col-lg-12">
      {% for post in collections.post | reverse %}<article>
        <h2><a class="" href="{{ post.url | url }}" target="_self" rel="noopener noreferrer">{{ post.data.title }}</a></h2>
        <p>{{ post.data.publishDate | postDate }}</p>
      </article>
      {% endfor %}</div><!-- /.col-lg-12 -->
  </div><!-- /.row -->
  <!-- END Team Section -->
</div>