---
layout: redirect
title: Redirect
subtitle: Something went wrong when we were directing you to the resource you were looking for.
description: Please follow the provided link to the information you were looking for. If this is not what you were looking for please email us at {{site.email}}.
# This file does hijinx with the "pagingation" system to generate many small pages from one set of data...
# and uses that do to redirects from some URLs to others.
# We use this to try to keep old links working.
#
# There's limited power to this approach (it only works for specific pages listed; it can't glob),
# but those are limitations inherent to an approach that works via static site gen, rather than via server configuration.
# The related upside of an approach that works via static site gen is the portability.
pagination:
  data: redirects
  size: 1
  alias: redirect
# Add your redirection tuples to this list!
redirects:
  - {"from": "/about.html", "to": "/about/"}
  - {"from": "/services.html", "to": "/services/"}
  - {"from": "/donate.html", "to": "/get-involved/"}
  - {"from": "/connect.html", "to": "/contact/"}
  - {"from": "/events.html", "to": "/outreach/"}
#
robots: noindex
# The "permalink" attribute determines where the output page will be located.
permalink: "{{ redirect.from }}"
# The "redirect" layout just has a small html header with the meta tags that do redirection.
---
<div class="row justify-content-center text-center">
  <div class="col-md-10 p-3 my-5  bg-white-transparent rounded max-width">
    <h1 class="h1">Something went wrong.</h1>
    <p class="lead p-3">You should have been redirected to <a href="{{ site.url + redirect.to }}" target="_self" rel="noopener noreferrer">{{ site.url + redirect.to }}</a></p>
    <p class="lead mt-3"><a class="btn text-black bg-warning" href="{{ site.url + redirect.to }}" target="_self" rel="noopener noreferrer" >Click to go to this new link.</a></p>
  </div>
</div> 	